h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    }
    
    p {
        font-weight: 600;
        font-size: 3em;
    }
    
    body {
        font-size: 16px;
    }
    
    .title-and-list {
        background-color: silver;
        text-align: center;
    }
    
    #color-list-style {
        font-style:oblique;
        line-height:35px ;
        font-weight: bold;
        
    }
    
    #yellow {
        background-color: yellow;
    }
    
    #red {
        background-color: red;
    } 
    
    #brown {
        background-color: brown;
    }
    