html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

header {
  position: fixed;
  background-color: darkmagenta;
  color: yellow;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  border-bottom: black solid 1px;
  border-radius: 3px;
}

header p {
  text-align: center;
  font-size: 19px;
}

header ul {
  padding: 0;
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
